<html>
    <head>
        <title>Pelit</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <a th:href="@{/}" >Back</a>
        <h2>Lisää</h2>
        <form th:action="@{/games}" method="POST">
            Nimi:<br>
            <input type="text" name="name"><br>
            Aika sekunneissa:<br>
            <input type="number" name="parTime"><br>
            Kuvaus:<br>
            <input type="text" name="description"><br>
            <input type="submit" value="Lisää"/>
        </form>
        <h2>Pelit:</h2>
        <table border="1">
            <thead>
                <tr>
                    <th width="30%">Nimi</th>
                    <th width="30%">Par aika/<br>ei kerrointa</th>
                    <th width="30%">Kuvaus</th>
                </tr>
            </thead>

            <tbody th:each="game : ${games}">
                <tr>
                    <td style="text-align:center" width="30%"><a th:href="@{/games/{id}(id=${game.id})}"><span th:text="${game.name}"/><a/></td>
                    <td style="text-align:center" width="30%" th:with="mins=${game.parTimeInSec / 60}, secs=${game.parTimeInSec - mins * 60}" th:text="${mins +'m '+ secs +'s'}"></td>
                    <td style="text-align:center" width="30%" th:text="${game.description}"></td>
                    <td><a th:href="@{/games/delete/{id}(id=${game.id})}" onclick="return confirm('Poista ?')">Poista</a></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
