<!DOCTYPE html>
<html>
    <head>
        <title>SBSR</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <a th:href="@{/games}" >Pelit</a>
        <a th:href="@{/runs}" >Runit</a>
        <a th:href="@{/addPlayer}" >Lisää pelaaja</a>
        <a th:href="@{/challenge}" >Haaste</a>
        <h1>Osallistujat</h1>
        <table border="1">
            <thead>
                <tr>
                    <th style="text-align:left" width="30%">Nimi</th>
                    <th width="30%">Pisteet</th>
                    <th width="30%">Kerroin</th>
                </tr>
            </thead>

            <tbody th:each="player : ${players}">
                <tr>
                    <td style="text-align:center" ><a th:href="@{/player/{id}(id=${player.id})}"><span th:text="${player.name}"/><a/></td>
                    <td style="text-align:center" th:text="${player.points}"></td>
                    <td style="text-align:center" th:text="${player.multiplier}"></td>
                </tr>
            </tbody>
        </table><br>
        <form th:action="@{/players/reset}" method="GET">
            <input type="submit" value="Nollaa pelaajat"/>
        </form>
        <h2>Uusi suoritus</h2>
        <form th:action="@{/runs}" method="POST">
            <label>Osallistuja</label><br>
            <select name="player">
                <option selected disabled hidden style='display: none' value=''></option>
                <option th:each="player : ${players}" th:value="${player.id}" th:text="${player.name}">
                </option>
            </select><br><br>
            <label>Peli</label><br>
            <select name="game">
                <option selected disabled hidden style='display: none' value=''></option>
                <option th:each="game : ${games}" th:value="${game.id}" th:text="${game.name}">
                </option>
            </select><br>
            <br>
            <label>Min</label><br>
            <input type="number" name="minutes"><br><br>
            <label>Sek</label><br>
            <input type="number" name="seconds"><br><br>
            <input type="submit" value="Lisää"/>
        </form>
    </body>
</html>
