<!DOCTYPE html>
<html>
    <a th:href="@{/}" >back</a>
    <head>
        <title th:text="${player.name}" ></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1 th:text="${player.name}"></h1>
        <form action="/player/delete" method="GET" >
            <input type="hidden" name="id" th:value="${player.id}"/>
            <input type="submit" value="Delete" onclick="return confirm('Delete Player')">
        </form>
        <h2>Points: <span th:text="${player.points}" /></h2>
        <h2>Runs:</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>Game</th>
                    <th>Time</th>
                    <th>Points</th>
                    <th>Relevant</th>
                </tr>
            </thead>

            <tbody th:each="run : ${runs}">
                <tr>
                    <td style="text-align:center" th:text="${run.game.name}"></td>
                    <td style="text-align:center" th:with="mins=${run.completionTimeInSec / 60}, secs=${run.completionTimeInSec - mins * 60}" th:text="${mins +'m '+ secs +'s'}"></td>
                    <td style="text-align:center" th:text="${run.points}"></td>
                    <td style="text-align:center"><a th:href="@{/runs/toggleCurrent/{id}(id=${run.id})}"><span th:text="${run.current} ? 'yes' : 'no'" /></a></td>
                    <td><a th:href="@{/runs/delete/{id}(id=${run.id})}" onclick="return confirm('Delete run?')">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
